button {
    width: 80;
    height: 80;
    font-size: 25;
    border: solid;
}
  
.textinput {
    width: 590;
    height: 50;
    border: solid;
    font-size: 25;
    color: #fc00fc;
}
  
.main {
    position: absolute;
    border: solid;
    background: linear-gradient(rgb(38, 0, 255),rgb(255, 0, 255));
}